<p style="background-color:white; margin:0 15px 30px 15px;" class="col-sm-2" id="cus_order_show">

  <strong>User:</strong>
  <%= order.user.email %>
  <strong>Form:</strong>
  <%= order.form%><br>
  <strong>To:</strong>
  <%= order.to %>
</p>

