<p>
    <strong>Type:</strong>
    <%= room.type %>
</p>
<p>
    <strong>Bed:</strong>
    <%= room.bed %>
</p>
<p>
    <strong>Status:</strong>
    <%= room.status %>
</p>
<p>
    <link_to 'Destroy Comment',
</p>