#cus_type {
  padding: 0;
  p {
    margin-bottom:0;
  }
}

#cus_bed {
  padding: 0;
  p {
    margin-bottom:0;
  }
  #cus_label_bed {
    width:100px;
  }
}

#cus_price {
  padding: 0;
  margin-bottom:20px;
  p {
    width:320px
  }
  #cus_label_price {
     width:320px;
  }
}
