#error_explanation {
  width: 580px;
  padding: 7px 7px 0;
  margin: 0 auto;
  background-color: #ffffff;

  h2 {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 20px 20px 20px 15px;
    margin: 1px 1px 20px 1px;
    background-color: #ffbcbc;
    color: #9c0303;
    border-radius: 2px;
  }

  ul li {
    font-size: 16px;
    list-style: square;
    color: red
  }
}
