body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  // padding: 1px;
  // background-color: red;
}

#error_explanation {
  width: 580px;
  padding: 7px 7px 0;
  margin: 0 auto;
  background-color: #ffffff;

  h2 {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 20px 20px 20px 15px;
    margin: 1px 1px 20px 1px;
    background-color: #ffbcbc;
    color: #9c0303;
    border-radius: 2px;
  }

  ul li {
    font-size: 16px;
    list-style: square;
    color: red
  }
}

label {
  display: block;
}
