<!DOCTYPE html>
<html>

<head>





</head>

<body>

<header class="header-login-signup">

	<div class="header-limiter">

	<%= image_tag("home.png", width: 240, height: 100 ) %>

		<nav>
			
			<a href="#">Home</a>
			<a href="#" class="selected">Blog</a>
			<a href="#">Pricing</a>
		</nav>

		<ul>
        <% if user_signed_in? %>
		   <%= link_to "Logout" , destroy_user_session_path, method: :delete , class:"action-button shadow animate red"%>
		   
		<%else%>
			
			<%= link_to "Login" , new_user_session_path , class: "action-button shadow animate blue"%>
			
      <%= link_to "Sign up" , new_user_registration_path, class:"action-button shadow animate green"%>
      <%end%>
		</ul>

	</div>

</header>







</body>

</html>
